body{
    font-family: 'Courier New', Courier, monospace;
   
}

.rectangulo{
    padding: 100px;
    background-color: blueviolet;
    margin: 10px 40px;
    outline: 4px dashed rgb(65, 0, 71);
}
.circulo{
    border-radius: 50%;
    padding: 40px;
    background-color: red;
    display: inline-block;
   
}