body{
    font-family: 'Courier New', Courier, monospace;
    
}
.green{
    color: green;
    border: 2px solid green;
    text-align: center;
}

.red{
    color: red;
    border: 2px solid red;
    text-align: center;
}
